// Place all the styles related to the intros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.introimage{
    margin-top:70px;
    margin-bottom:40px;
    width:300px;
}
.introname{
    margin-bottom:10px;
}
.introtext{
    margin-bottom:50px;    
}