<div class="container">
    <div class="row">
        <div class="col s0 m2"></div>
        <div class="col s12 m8 center">
            <%= image_tag("profileimg.png", class: "responsive-img circle introimage") %>      
            <h5 class="introname">김도현입니다</h5>
            <p class="introtext">여러분 열심히 꾸며주세요!</h5>            
            <ul class="collapsible">
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">android</i>
                  코딩 잘해요?
                  <span class="new badge"></span></div>
                <div class="collapsible-body"><p>노력하고 있습니다</p></div>
              </li>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">place</i>
                  저는 어디 살까요?
                  <span class="badge">1</span></div>
                <div class="collapsible-body"><p>상수역에서 자취해요!</p></div>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">attach_money</i>
                  이거 코딩하는데 얼마나 걸렸어요?
                  <span class="badge">1</span></div>
                <div class="collapsible-body"><p>5시간이요!</p></div>
              </li>
              </li>
            </ul>
        </div>
        <div class="col s0 m2"></div>
    </div>
</div>